@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
}

html{
  font-family: 'Roboto Slab', serif;	
  font-size: 16px;	
  color: #FC600A;
  scroll-behavior: smooth; 
}
body{
  background-color: cornsilk;	

} 

.top_button_style{
  width: 3.125rem;
  height: 3.125rem;
  text-align: center;
  line-height: 3.125rem;  
  position: fixed;
  right: 1.4%;
  bottom: 6%;
  z-index: 1;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0); 
  color: rgba(255, 255, 255, 0); 
  font-size: 2rem;  
}

.showup{
  visibility: visible;
  background-color: #FC600A; 
  color: #092834; 
  border-radius: 50%;
  opacity: 0.6; 
  transition: background-color 2s ease, color 2s ease;
}
 
/* ********************* HEADER ********************* */
header{
 max-width: 1200px;	
 height: 100vh;
 margin: 0 auto;
 /*background-color: gold;*/ 
 background-image: url(bg_moon_flower_1280.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center center;
 object-fit: cover; 
}

.hamburger{
  display: none;	
  position: absolute;
  right: 8%;
  top: 2%; 
  padding: 4px 6px;  
  background-color: rgba(4, 17, 22, .2);  
  border-radius: 4px;  
}
.hamburger_line{
  width: 20px;
  height: 4px;
  margin: 4px 0;
  border-radius: 2px;
  background-color: #F7E0D4;  
	
}

header nav{
  display: flex;	
  justify-content: center;
  font-size: 1.0rem;
  /*background-color: #092834;	*/
  background-color: rgba(4, 17, 22, .2);
}
header nav a{
  position: relative;  	
  margin: 0 2%;	
  padding: .64rem .2%;
  letter-spacing: 2px;
  font-weight: 400;  
  text-decoration: none;
  color: #F7E0D4; 
}

header nav a::before {
  content: "";
  position: absolute;
  bottom: 0.2rem;
  left: 50%;
  width: 0;
  height: .15rem;
  background-color: #F7E0D4;
  opacity: .1;
  transition: .6s ;   
}

header nav a:hover::before {
  opacity: 1;
  left: 0;
  width: 100%;
}

.face_frame{
  position: absolute;	
  top: 50%;
  left: 50%;
  transform: translate(-50%,0);  
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 2px #092834, 0 0 4px #092834, 0 0 6px #092834, 0 0 10px #092834;
  backdrop-filter: blur(18px);  
  font-family: 'Merienda One', cursive;
  
}
.face_frame p{
  font-size: 3rem;	
  font-weight: bold;
  letter-spacing: .2rem;
  text-align: center;	
  color: #F7E0D4;    
  text-shadow: 0 0 2px #092834, 0 0 4px #092834, 0 0 6px #092834;
}
.face_frame span{
  font-size: 3rem;	
  font-weight: bold;
  letter-spacing: .2rem;
  text-align: center;	
  color: #FC600A;  
  text-shadow: 0 0 2px #092834, 0 0 4px #092834, 0 0 6px #092834;
}

/* ********************* INTRODUCTION_SECTION ********************* */
.introduction_section{
  max-width: 1200px;
  margin: 0 auto;
  padding: 10% 0;
  letter-spacing: .1rem;
  background-color: #F7E0D4;
  color: #092834;  
}
.introduction_content{
  display: flex;
  justify-content: space-between;  
  width: 80%;
  margin: 0 auto;
  /*border: 2px solid blue;*/ 
}
.introduction_text{
  width: 60%;	
}
.introduction_text h2{
  text-align: left;
  margin-bottom: 2rem;  
  font-size: 2.1rem;
}
.introduction_text p{
  font-size: 1.45rem;
  line-height: 2.0rem;
}

.introduction_picture{
  width: 34%;
  align-self: center;
}

.introduction_picture  img {
  width: 78%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 4px  #092834, 0 0 8px  #092834;
}

/* ********************* YOGA_SECTION ********************* */
.yoga_section{
  max-width: 1200px;
  margin: 0 auto;
  padding: 10% 0;
  letter-spacing: .1rem;
  line-height: 1.8rem;
  background-color: #347B98;
  color: #F7E0D4;
}

.yoga_content{
  display: flex;	
  width: 80%;
  margin: 0 auto;
 /* border: 2px solid orange;*/ 
}

.yoga_picture{
  width: 40%;
  align-self: center;
}

.yoga_picture  img {
  width: 68%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 8% 38%;
  box-shadow: 0 0 4px  #092834, 0 0 8px  #092834, 0 0 14px  #092834;
}
.yoga_text{
  width: 60%;	
}
.yoga_text h2{
  text-align: center;
  margin-bottom: 2rem; 
  font-size: 2.1rem;  
}
.yoga_text p{
  font-size: 1.45rem;
  line-height: 2.0rem;
}

/* ********************* EXCURSION_SECTION ********************* */
.excursion_section{
  max-width: 1200px;
  margin: 0 auto;
  padding: 10% 0;
  letter-spacing: .1rem;
  line-height: 1.8rem;
  background-color: #F7E0D4;
  color: #092834;
}
.excursion_section h2{
  margin-bottom: 2rem;	
  text-align: center;
  font-size: 2.1rem;  
}

.excursion_content{
  display: flex;	
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: 0rem auto 0 auto; 
  /*border: 2px solid orange;*/   
}
.excursion_1, .excursion_2, .excursion_3, .excursion_4, .excursion_5, .excursion_6{
  width: 30%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #0A3408;
  box-shadow: 0 0 4px  #092834, 0 0 8px  #092834;
  /*border: 1px solid green;*/
}

.excursion_picture {
  height: 40vh;
  overflow: hidden;
}

.excursion_picture img{
  width: 100%;
  height: 100%;  
  object-fit: cover;
  transition: 0.4s;  
}

.excursion_text {
  padding-top: 1rem;	
  padding-left: 1.4rem;   
  padding-bottom: 1rem;  
  background-color: cornsilk;

}
.excursion_picture img:hover{
  width: 104%;
  height: 104%;  
}

.excursion_modal{
  width: 80%;
  max-width: 800px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: none;
  animation-name: zoom;
  animation-duration: 1.6s;
}

@keyframes zoom {
  from {width: 0%;}
  to {width: 80%;}
}



.excursion_modal.visible{
  display: block;

}

#modal_img{
  width: 100%;
  height: 100%;  
  object-fit: cover;	
 
}

/* ********************* FOOTER ********************* */
footer{
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2% 0.2rem 2%;
  background-color: #F7E0D4;
  color: #092834;  
}

footer h3{
  font-size: 1.2rem;	
  text-decoration-line: underline;
  letter-spacing: 0.2rem;
  padding-bottom: 1rem;
}
footer h4{
  font-size: 1.16rem;	
  letter-spacing: 0.2rem;
  padding-bottom: 1rem;
}
footer p{
  font-size: 1rem;	
  padding-bottom: 0.8rem;
}

/* ********************* CALENDAR_SECTION ********************* */
#backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  /*background: rgba(51, 24, 0, 0.8);*/
  background: rgba(10, 40, 52, 0.9); 
  z-index: 10;
  pointer-events: none;
  display: none;
}

#backdrop.visible {
  display: block;
  pointer-events: all;
}

.modal{
  position: fixed;
  /*height: 200px;*/
  max-width: 400px;
  width: 55%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px #092834;
  z-index: 100;
  background-color: #F7E0D4;
  border-radius: 2rem;
  animation-name: slide_in;
  animation-duration: .6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  display: none;
  overflow: hidden;	  
}

.modal.visible{
  display: block;
}

@keyframes slide_in{
  from {top: 5%;}
  to { top: 50%;}
}
#modal_header{
  font-size: 1.4rem;	
  margin-top: 0rem; 
  margin-bottom: 2rem;
  padding: 1rem 0 1rem 0; 
  background-color: #FC600A;  
  color:  #092834;
  text-align: center;

}
.modal_content{
  width: 90%;	
  margin: 0 auto 2rem auto;
  color:   #092834;
  /*border: 2px solid yellow;	*/
}
.modal_content label,.modal_content p{
  font-size: 1.4rem;	
}
.modal_content select{
  font-size: 1rem;	
  border: 2px solid #092834;
  border-radius: .3rem;
}  

.modal_content p{
  margin-bottom: 1rem;
  margin-top: 1rem; 	
}

textarea{
  width: 90%;
  height: 8rem;
  resize: none;	
  outline: none;
  font-size: 1rem;
  border: 2px solid #092834;
  border-radius: .3rem;
  color: inherit;
}
::placeholder {
  color: #FC600A;
}
textarea:focus{
  border: 2px solid #FC600A;
}

.modal_footer{
 width: 100%;
 height: 3.4rem;
 background-color: #FC600A;
 text-align: right;
}

#btn_save, #btn_delete {
  margin: .8rem 2.4rem 0 0;	
  padding: .4rem 1rem;
  border-radius: .3rem;
  font-size: 1rem;
}
#btn_save:hover, #btn_delete:hover{
 color: #F7E0D4;
}
.calendar_frame{
  max-width: 1200px;
  /*height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  padding: 4rem 0;
  background-color: #092834; 

}
.calendar_frame h2{
  padding-bottom: 2rem;
  font-size: 2.1rem;  
  letter-spacing: 0.2rem;
  text-align: center;
  text-shadow: 0 0 2px #092834, 0 0 4px #092834, 0 0 6px #092834, 0 0 8px #092834;
}
.calendar_login{
  width: 100%;
  margin-bottom: 2rem;
}
#login_name{
  width: auto;
  height: 2.2rem;  
  display: block;
  margin: 0 auto;
  font-size: 1.4rem;	
  font-weight: bold;
  background-color: #F7E0D4;
  color: #092834; 
  border: 2px solid #092834;
  outline: none;

}

#calendar{
  max-width: 800px;
  /*width: 90%;*/
  /*height: 200px;*/
  background-color: #347B98;
  margin: 0rem auto 0 auto;
  /*border: 2px solid blue;  */
  box-shadow: 0 0 2px #092834, 0 0 4px #F7E0D4, 0 0 8px #F7E0D4, 0 0 14px #F7E0D4;
  padding: 0 2rem 0 2rem;
  border-radius: 2rem;
}

table{
  margin: 4% auto 4% auto;	
  /*border: 2px solid yellow;*/	
}
td{
  font-size: 1.6rem;	
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 2px #092834, 0 0 4px #092834, 0 0 6px #092834, 0 0 8px #092834;
  padding: .4rem;	
  border:  1px solid #347B98; 
  border-radius: 1rem;
  cursor: default;
}

td:hover{
  border: 1px solid #092834; 	
}
.td_empty{
  border:  none; 	
}
.td_empty:hover{
  border:  none; 	
}

th{
  width: 4rem;
  font-size: 1.4rem;	
  padding: 1rem;	
  /*border:  2px solid blue; */
  border-radius: 1rem;
  text-shadow: 0 0 2px #092834, 0 0 4px #092834, 0 0 6px #092834, 0 0 8px #092834;
  cursor: default;
}
.dayNames{
  background-color: #092834;	
}
.btn{
  background-color: #092834;
  color: #FC600A;  
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: .3rem;
  margin-bottom: .3rem;
  padding: .4rem .4rem .4rem .4rem;
  text-decoration: none;
  border: none;

}

.btn_left{
  margin-right: 1rem;
  border-radius: .3rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;  	
}

.btn_right{
  margin-left: 1rem;
  border-radius: .3rem;  
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;   
}

.today{
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: underline;
  color: #092834;  
  text-shadow: none;
}
.actTraining{
  background-color: #F7E0D4; 	
}

.modal_guest{
  position: fixed;
  max-width: 480px;
  width: 78%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 2px #F7E0D4, 0 0 4px #F7E0D4,0 0 6px #F7E0D4;
  z-index: 100;
  border-radius: 0.8rem;
  overflow: hidden;
  display: none;
}
.modal_guest.visible{
  display: block;
}

#modal_guest_header, #modal_guest_footer{
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;  
  padding: 1rem;	
  background-color: #FC600A; 
  color: #092834; 	
}

#modal_guest_footer{
  text-align: right;  
}
#modal_guest_content{
  font-size: 1.1rem;
  letter-spacing: 0.14rem;
  line-height: 2;  
  padding: 0.6rem;	
  padding-left: 1.4rem;
  background-color: #092834; 
  color: #F7E0D4;
}
.btn_guest{
  padding: .4rem 1rem;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  border-radius: .3rem;
  font-weight: bold;
  background-color: #092834; 
  color: #FC600A; 	
  text-decoration: none;
  border: none;
}

.btn_guest:first-of-type{
  margin-right: 1.4rem;  
}
.btn_guest:hover{
  color: #F7E0D4;
}

.disable{
  opacity: 0.6;
  cursor: not-allowed;	
}
	


/* ****** RESPONSIVE ****** */
@media only screen and (max-width: 992px) {
html{
  font-size: 80%;		  
}	
.excursion_1, .excursion_2, .excursion_3, .excursion_4, .excursion_5, .excursion_6{
  width: 48%;
}

} /* end of @media922 */

@media screen and (max-width: 768px){
html{
  font-size: 74%;		  
}
	
} /* end of @media768 */



@media screen and (max-width: 600px){
html{
  font-size: 74%;	
}
header{
 width: 100vw;	
}

.hamburger{
  display: block;	
}
.hamburger.close .hamburger_line:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}
.hamburger.close .hamburger_line:nth-child(2){
  opacity: 0;
}
.hamburger.close .hamburger_line:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}

.introduction_content{
  flex-direction: column-reverse;
  justify-content: center;
}
.introduction_text{
  width: 90%;
  padding-top: 2rem;  
}
.yoga_content{
  flex-direction: column; 
  justify-content: center;
}
.yoga_picture{
  padding-bottom: 2rem; 	
}

.yoga_text{
  width: 90%;	
  padding-top: 2rem; 
}
.excursion_1, .excursion_2, .excursion_3, .excursion_4, .excursion_5, .excursion_6{
  width: 100%;
}	

header nav{
 display: flex;  
 flex-direction: column; 
 justify-content: flex-start;
 align-items: center;
 position: relative;
 left: -54%;
 height: 100%;
 width: 54%;
 transition: .4s ease-out;
 font-size: 1.28rem;
}

header nav a:first-of-type{
  margin-top: 2rem;	 
} 

.modal{
  width: 74%;	
}
	
} /* end of @media600 */

@media screen and (max-width: 400px){
html{
  font-size: 55%;	
}
.modal{
  width: 80%;	
}
			
} /* end of @media400 */


/*
@media only screen and (max-width: 800px) and (orientation: landscape) {
html{
  font-size: 45%;	
}
.modal{
  width: 52%;	
}
} /* end of @mediaORIENTATION */















