@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
}

html{
  font-family: 'Roboto Slab', serif;	
  font-size: 16px;	
  color: #FC600A;
  scroll-behavior: smooth; 
}
body{
  background-color: lightblue;	

}  
/* ********************* HEADER ********************* */
header{
 max-width: 1100px;	
 height: 100vh;
 margin: 0 auto;
 /*background-color: gold;*/ 
 background-image: url(bg_moon_flower_1280.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center center;
 object-fit: cover; 
}

.hamburger{
  display: none;	
  position: absolute;
  right: 8%;
  top: 2%; 
  padding: 4px;  
  background-color: rgba(4, 17, 22, .2);  
  border-radius: 4px;  
}
.hamburger_line{
  width: 20px;
  height: 4px;
  margin: 4px 0;
  border-radius: 2px;
  background-color: #F7E0D4;  
	
}

header nav{
  display: flex;	
  justify-content: center;
  font-size: .66rem;
  /*background-color: #092834;	*/
  background-color: rgba(4, 17, 22, .2);
}
header nav a{
  position: relative;  	
  margin: 0 2%;	
  padding: .6rem .2%;
  letter-spacing: 2px;
  font-weight: 400;  
  text-decoration: none;
  color: #F7E0D4; 
}

header nav a::before {
  content: "";
  position: absolute;
  bottom: 0.2rem;
  left: 50%;
  width: 0;
  height: .15rem;
  background-color: #F7E0D4;
  opacity: .1;
  transition: .6s ;   
}

header nav a:hover::before {
  opacity: 1;
  left: 0;
  width: 100%;
}


/* ********************* CALENDAR_SECTION ********************* */
#backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  /*background: rgba(51, 24, 0, 0.8);*/
  background: rgba(10, 40, 52, 0.6); 
  z-index: 10;
  pointer-events: none;
  display: none;
}

#backdrop.visible {
  display: block;
  pointer-events: all;
}

.modal{
  position: fixed;
  /*height: 200px;*/
  max-width: 400px;
  width: 55%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px #092834;
  z-index: 100;
  background-color: #F7E0D4;
  border-radius: 2rem;
  animation-name: slide_in;
  animation-duration: .6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  display: none;
  overflow: hidden;	  
}

.modal.visible{
  display: block;
}

@keyframes slide_in{
  from {top: 5%;}
  to { top: 50%;}
}
#modal_header{
  font-size: 1.4rem;	
  margin-top: 0rem; 
  margin-bottom: 2rem;
  padding: 1rem 0 1rem 0; 
  background-color: #FC600A;  
  color:  #092834;
  text-align: center;

}
.modal_content{
  width: 90%;	
  margin: 0 auto 2rem auto;
  color:   #092834;
  /*border: 2px solid yellow;	*/
}
.modal_content label,.modal_content p{
  font-size: 1.4rem;	
}
.modal_content select{
  font-size: 1rem;	
  border: 2px solid #092834;
  border-radius: .3rem;
}  

.modal_content p{
  margin-bottom: 1rem;
  margin-top: 1rem; 	
}

textarea{
  width: 90%;
  height: 8rem;
  resize: none;	
  outline: none;
  font-size: 1rem;
  border: 2px solid #092834;
  border-radius: .3rem;
  color: inherit;
}
::placeholder {
  color: #FC600A;
}
textarea:focus{
  border: 2px solid #FC600A;
}

.modal_footer{
 width: 100%;
 height: 3.4rem;
 background-color: #FC600A;
 text-align: right;
}

#btn_save, #btn_delete {
  margin: .8rem 2.4rem 0 0;	
  padding: .4rem 1rem;
  border-radius: .3rem;
  font-size: 1rem;
}
#btn_save:hover, #btn_delete:hover{
 color: #F7E0D4;
}
.calendar_frame{
  width: 100vw;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  padding: 0; 
  background-color: lightblue;  
	
}

#calendar{
  max-width: 800px;
  /*height: 200px;*/
  background-color: #347B98;
  margin: 0rem auto 0 auto;
  /*border: 2px solid blue;  */
  box-shadow: 0 0 .2rem #092834, 0 0 .6rem #092834;
  padding: 0 2rem 0 2rem;
  border-radius: 2rem;
}

.trainings{
  display: flex;
  flex-direction: column; 
  align-items: center;  
  width: 100vw;
  height: 100rem; 
  margin: 0;
  padding: 0;  
  background-color: #092834;	
}
.trainings h2{
  margin-bottom: 4rem;	
  padding-top: 4rem;	
  font-size: 2rem;
  text-align: center;  
  color: #F7E0D4; 
}

.training_dates{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  max-width: 800px;  
  width: 80%;

}	

.training_content{
  display: flex;
  flex-direction: row; 		
  margin-bottom: 3rem; 
  border: 2px solid #F7E0D4;  
  border-radius: .6rem;
}
.training_details {
  width: 66%;
}

.training_details p{
  font-size: 1.2rem;	
  margin-left: 1.4rem; 
  margin-bottom: 1.4rem;
}

.training_details p:first-of-type{
  margin-top: 1.4rem; 
}

.training_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34%;
  height: 100%;


}
.training_btn button{
  width: 7.8rem;
  height: 3rem;
  background-color: #FC600A;
  color: #F7E0D4; 
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: .1rem;
  border: none;
  border-radius: .4rem;
  
}

table{
  margin: 4% auto 4% auto;	
  /*border: 2px solid yellow;*/	
}
td{
  font-size: 2.0rem;	
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 2px #092834, 0 0 4px #092834, 0 0 6px #092834, 0 0 8px #092834;
  padding: .8rem;	
  border:  1px solid #347B98; 
  border-radius: 1rem;
  cursor: default;
}

td:hover{
  border: 1px solid #092834; 	
}
.td_empty{
  border:  none; 	
}
.td_empty:hover{
  border:  none; 	
}

th{
  width: 4rem;
  font-size: 1.6rem;	
  padding: 1rem;	
  /*border:  2px solid blue; */
  border-radius: 1rem;
  text-shadow: 0 0 2px #092834, 0 0 4px #092834, 0 0 6px #092834, 0 0 8px #092834;
  cursor: default;
}
.dayNames{
  background-color: #092834;	
}
.btn{
  background-color: #092834;
  color: #FC600A;  
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: .3rem;
  margin-bottom: .3rem;
  padding: .4rem .4rem .4rem .4rem;
  text-decoration: none;
  border: none;

}

.btn_left{
  margin-right: 1rem;
  border-radius: .3rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;  	
}

.btn_right{
  margin-left: 1rem;
  border-radius: .3rem;  
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;   
}

.today{
  /*background-color: yellow;*/
  font-size: 2.2rem;
  font-weight: bold;
  text-decoration: underline;
  color: #092834;  
  text-shadow: none;
}
.actTraining{
  background-color: #F7E0D4; 	
}

/* ****** RESPONSIVE ****** */

@media screen and (max-width: 600px){
html{
  font-size: 74%;	
}

header{
 width: 100vw;	
 
}
.hamburger{
  display: block;	
}

.hamburger.close .hamburger_line:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}

.hamburger.close .hamburger_line:nth-child(2){
  opacity: 0;
}

.hamburger.close .hamburger_line:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}


header nav{
 display: flex;  
 flex-direction: column; 
 justify-content: flex-start;
 align-items: center;
 position: relative;
 left: -40%;
 height: 100%;
 width: 40%;
 transition: .4s ease-out;
 font-size: inherit;
}

header nav a:first-of-type{
  margin-top: 2rem;	 
} 




.modal{
  width: 74%;	
}
	
} /* end of @media600 */

@media screen and (max-width: 400px){
html{
  font-size: 60%;	
}
.modal{
  width: 80%;	
}	
		
} /* end of @media400 */


/*
@media only screen and (orientation: landscape) and (max-width: 680px) {
html{
  font-size: 50%;	
}
.modal{
  width: 52%;	
}
} /* end of @mediaORIENTATION */















